html{
    font-size: 18px;
}
body {
    font-family:sans-serif;
    font-size: 1.1rem;
    color: #404040;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url(https://i.postimg.cc/0jv27Qvw/20008380-645221846.jpg);
    background-size: cover;
    
}

.signup-container {
    object-fit: cover;
    padding: 30px 30px;
    margin: auto;
    border: 1px solid #ffffff;
    border-radius: 60px;
    box-shadow: 0px 10px 10px 10px rgba(255, 255, 255,0.3);
    max-width: 300px;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
button:hover {
    background-color:peachpuff;
}
p{
    color: white;
    text-align: center;
    margin-top: auto;
}  
#nav{
    font-size: 1.4rem;
    margin-bottom: 40px;
    padding: 30px;
    font-weight: bold;
}
#footer{
    color:rgba(149, 18, 18,0.6);
    margin: 72px 0px 0px 0px ;
    padding: auto;
    text-align: center;
} 

@media screen and (max-width:756px) {
    #nav marquee{
         display: none;
    }
    
}
